In [21]:
pdf_path = "zoi241280supp1_prod_1734533637.42786.pdf"
import tabula
import pandas as pd


tables = tabula.read_pdf(
    pdf_path,
    stream=True,
    guess=False,
    pages="6-7",
    multiple_tables=True
)

/opt/anaconda3/envs/rsvenv/lib/python3.11/site-packages/tabula/io.py:1054: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [22]:
len(tables)

2

In [23]:
tab=pd.concat(tables)
tab

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,3.2 (2.8–,88.3,Unnamed: 5,18.2,Unnamed: 6,3.24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eTable 3. Estimated multipliers for under-dete...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23 seasons.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Percent of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
53,Abbreviations: CI: Confidence interval. ICU: I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,"through 2022-23, season is defined as October ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,respectively.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,© 2024 Havers FP et al. JAMA Network Open,NaN,NaN,NaN